/* Your styles go here */
/*Variables*/
/*
Colors:

Mint = #A6FFBD
Dark Cerulean = #034E70
Banana Yellow = #FFE529

*/
/*import Boostrap*/

/*after Bootstrap*/

/* GLOBAL STYLES */

html{
    box-sizing: border-box;
    font-family: Verdana, Arial, Tahoma, san-serif;
}

*{
    box-sizing: inherit;
}

body{
    background-color: #034E70; /*lighten($color3, 15%)*/
    color: white;
}

header {
    font-size: 60px;
    margin: .5em;
}

#navList{
    list-style: none;
    margin: 0;
    padding: 0;

    & > li{
        display: inline;
        padding: .2em;
        margin: 1rem;
        background-color: #034E70;

        a{
            text-decoration: none;
            color: #034E70;
            font-size: 18px;
            padding: .5rem;
            background-color: #A6FFBD;

            &:focus{
                background-color: #800080;
                color: white;
            }

            &:focus-visible{
                outline: none;
            }
        }
    }
}

a {
    color: #A6FFBD;
}

a.active-link {
    color: #034E70 !important;          
    background-color: #FFE529 !important;
}

a:focus {
    background-color: #800080 !important;
    color: white !important;
}

a:hover {
    color: #A6FFBD !important;
    background-color: #034E70 !important;
    text-decoration: underline !important;
}

h1 {
    margin-top: 2em;
}

h2 {
    color: #FFE529;
    font-family: Tahoma;
}

.container-fluid {
    margin: 3em;
}

p {
    font-size: 18px;
}

.indent {
    line-height: 2.5;
    text-indent: 40px;
}

.no-indent {
    line-height: 2.5;
}

ul li {
    font-size: 18px;
}

/* for skip link */
#skip a {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;

    &:focus{
        position:static;
        width:auto;
        height:auto;
    }
}

/* -------------- */

/* HOME PAGE STYLES */

/* 
.vHidden {
    display: none;
}


or with a href link

&[aria-current="page"]{
    color:
    background-color:
}

*/

.quote {
    font-style: italic;
}

p.article1 {
    line-height: 2.5;
    text-indent: 40px;
}

/* LANGUAGE PAGE STYLES */

.techniques, .behavior, .tasks, .prepare {
    line-height: 2.5;
    text-indent: 40px;
}

.eyetrack_map {
    height: 620px;
    width: auto;
}

li.hyphen {
    list-style-type: none;
}

li.hyphen:before {
    content: '\2014';
    position: absolute;
    margin-left: -20px;
}